<a href="https://colab.research.google.com/github/Nadda1004/Intro_Machine_learning/blob/main/W1_D1_cost_function_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Heuristic Models (Cost Function Extension)
Look at the Seattle weather in the **data** folder. Come up with a heuristic model to predict if it will rain today. Keep in mind this is a time series, which means that you only know what happened historically (before a given date). One example of a heuristic model is: It will rain tomorrow if it rained more than 1 inch (>1.0 PRCP) today. Describe your heuristic model in the next cell.

**your model here**  

Examples:  

If rained yesterday it will rain today.  
If it rained yesterday or the day before it will rain today.

In [1]:
#here is an example of how to build and populate a hurestic model

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/gumdropsteve/datasets/master/seattle_weather_1948-2017.csv')


numrows = 25549 # can be as large as 25549

#create an empty dataframe to hold 100 values
heuristic_df = pd.DataFrame({'yesterday':[0.0]*numrows,
                             'today':[0.0]*numrows,
                             'tomorrow':[0.0]*numrows,
                             'guess':[False]*numrows, #logical guess
                             'rain_tomorrow':[False]*numrows, #historical observation
                             'correct':[False]*numrows, #TRUE if your guess matches the historical observation
                             'true_positive':[False]*numrows, #TRUE If you said it would rain and it did
                             'false_positive':[False]*numrows,#TRUE If you sait id would rain and it didn't
                             'true_negative':[False]*numrows, #TRUE if you said it wouldn't rain and it didn't
                             'false_negative':[False]*numrows}) #TRUE if you said it wouldn't raing and it did

#sort columns for convience
seq = ['yesterday',
       'today',
       'tomorrow',
       'guess',
       'rain_tomorrow',
       'correct',
       'true_positive',
       'false_positive',
       'true_negative',
       'false_negative']
heuristic_df = heuristic_df.reindex(columns=seq)

In [2]:
df.shape

(25551, 5)

In [3]:
heuristic_df.shape

(25549, 10)

In [4]:
df.head()

           ds  prcp  tmax  tmin  rain
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [5]:
heuristic_df.head()

   yesterday  today  tomorrow  ...  false_positive  true_negative  false_negative
0        0.0    0.0       0.0  ...           False          False           False
1        0.0    0.0       0.0  ...           False          False           False
2        0.0    0.0       0.0  ...           False          False           False
3        0.0    0.0       0.0  ...           False          False           False
4        0.0    0.0       0.0  ...           False          False           False

[5 rows x 10 columns]

Build a loop to add your heuristic model guesses as a column to this dataframe

In [10]:
# fill in the prcp values into the hestorical data
for i in range(len(heuristic_df)):
  #first day
  if i == 0:
    #today 
    heuristic_df.iloc[i , 1] = df.iloc[i , 1]
    #tomorrow
    heuristic_df.iloc[i , 2] = df.iloc[i+1 , 1]
    # save the actual value of rain for tomorrow inside the 'rain_tomorrow' column
    heuristic_df.iloc[i , 4] = df.iloc[i+1 , 4]
    
  #last day  
  elif i == (len(df) - 1):
    #yesterday
    heuristic_df.iloc[i , 0] = df.iloc[i-1 , 1]
    #today 
    heuristic_df.iloc[i , 1] = df.iloc[i , 1]

  # any day in between 
  else:
    #yesterday
    heuristic_df.iloc[i , 0] = df.iloc[i-1 , 1]
    #today 
    heuristic_df.iloc[i , 1] = df.iloc[i , 1]
    #tomorrow
    heuristic_df.iloc[i , 2] = df.iloc[i+1 , 1]
    # save the actual value of rain for tomorrow inside the 'rain_tomorrow' column
    heuristic_df.iloc[i , 4] = df.iloc[i+1 , 4]


    # if it rained yesterday and today more than 0.2 then it will rain tomorrow
    if heuristic_df.iloc[i , 0] >= 0.2 and heuristic_df.iloc[i , 1] >= 0.2:
      # guess == True
      heuristic_df.iloc[i , 3] = True
      
      # if my guess matches the historical observation
      if heuristic_df.iloc[i , 3] == heuristic_df.iloc[i , 4]:
        # 'true_positive': #TRUE If you said it would rain and it did
        heuristic_df.iloc[i , 6] = True
        # my guess was correct (True in correct column)
        heuristic_df.iloc[i , 5] = True

      # if my guess didnt matche the historical observation
      else:
        # 'false_positive':#TRUE If you sait id would rain and it didn't
        heuristic_df.iloc[i , 7] = True
        # my guess was not correct (False in correct column)
        heuristic_df.iloc[i , 5] = False
      

      # if it didnt rained yesterday and today more than 0.2 then it will not rain tomorrow
    else:
      # guess == False
      heuristic_df.iloc[i , 3] = False

      # if my guess matches the historical observation
      if heuristic_df.iloc[i , 3] == heuristic_df.iloc[i , 4]:
        # 'true_negative':#TRUE if you said it wouldn't rain and it didn't
        heuristic_df.iloc[i , 8] = True
        # my guess was correct (True in correct column)
        heuristic_df.iloc[i , 5] = True

      # if my guess didnt matche the historical observation
      else:
        # 'false_negative':#TRUE if you said it wouldn't rain and it did 
        heuristic_df.iloc[i , 9] = True
        # my guess was not correct (False in correct column)
        heuristic_df.iloc[i , 5] = False

In [11]:
heuristic_df

       yesterday  today  ...  true_negative  false_negative
0           0.00   0.47  ...          False           False
1           0.47   0.59  ...          False           False
2           0.59   0.42  ...          False           False
3           0.42   0.31  ...          False           False
4           0.31   0.17  ...          False            True
...          ...    ...  ...            ...             ...
25544       0.00   0.00  ...           True           False
25545       0.00   0.00  ...           True           False
25546       0.00   0.00  ...           True           False
25547       0.00   0.00  ...           True           False
25548       0.00   0.00  ...           True           False

[25549 rows x 10 columns]

In [8]:
df

               ds  prcp  tmax  tmin   rain
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]

### Evaluate the performance of the Heuristic model